<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/resources :: headTags"></div>
<title th:text="${pizza.nome}"></title>
</head>
<body>
	<div th:replace="fragments/navbar :: nav"></div>
	<div class="container" th:object=${pizza}>
		<h1 class="text-uppercase my-3" th:text="*{nome}"></h1>
		<div class="container mt-5">
			<div class="row">
				<div class="col-8">
					<dl class="row">
						<dt class="fs-4">Descrizione</dt>
						<dd class="text-capitalize" th:text="*{descrizione}"></dd>
					</dl>
				</div>
				<div class="col-4">
					<h3>Lista Ingredienti</h3>
					<ul >
						<li th:each="ing : ${pizza.ingredienti}" th:text="${ing.ingrediente}"></li>
					</ul>
				</div>
			</div>

		</div>

	</div>

	<div th:replace="fragments/resources :: scripts"></div>

</body>
</html>