<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/resources :: headTags"></div>
<title>Pizze</title>
</head>
<body>
	<div th:replace="fragments/navbar :: nav"></div>
	<div class="container">

		<h1 class="text-center">Lista di Pizze</h1>
		<hr/>
		<div class="mb-3 d-flex justify-content-between">
			<a class="btn btn-success" th:href="@{/pizza/create}"><i class="fas fa-plus"></i> add Pizza</a>
			<form action="@{/pizza}" th:method="get">
			<div class="input-group">
				<input name="keyword" th:value="${keyword}" class="form-control" type="search" placeholder="Search" aria-label="Search"  >
				<button class="btn btn-primary" type="submit"><i class="fas fa-search"></i> Search</button>
			</div>
		</form>
		</div>
		<table class="table" th:if="${listpizza.size} > 0">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col" class="fs-4">Nome</th>
					<th scope="col" class="fs-4">Ingredienti</th>
					<th scope="col" class="fs-4">Prezzo</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-capitalize" th:each="pizza : ${listpizza}">
					<th scope="row" th:text="${pizzaStat.index + 1}"></th>
					<td class="fs-5" th:text="${pizza.nome}"></td>
					<td></td>
					<td class="fw-bold fs-5" th:text="|&euro; ${pizza.prezzo}|"></td>
					<td>
						<a class="btn btn-primary" th:href="@{|/pizza/dettagli/${pizza.id}|}"><i class="far fa-question-circle"></i></a>
						<a class="btn btn-primary" th:href="@{|/pizza/modifica/${pizza.id}|}"><i class="far fa-edit"></i></a>
						<a class="btn btn-primary" th:href="@{|/pizza/delete/${pizza.id}|}" onclick="return confirm('Are you sure?')"><i class="fas fa-trash-alt"></i></a>
						
					</td>
				</tr>
				
			</tbody>
		</table>
		<div class="alert alert-secondary" role="alert" th:unless="${listpizza.size} > 0">
  A simple secondary alert—check it out!
</div>
	</div>
	<div th:replace="fragments/resources :: scripts"></div>
</body>
</html>